body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

a,
a:visited {
  color: #ddd;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.main-header,
.main-footer {
  background-color: #111;
  color: #fff;
}

.top-navigation,
.bottom-navigation {
  list-style: none;
  display: flex;
}
.top-navigation li,
.bottom-navigation li {
  padding: 5px 10px;
}
.top-navigation li > a,
.bottom-navigation li > a {
  color: #fff;
}

/* .post {
  margin: 20px;
} */

.container {
  flex-grow: 1;
}

.page {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

#fetchPostsButton {
  width: 240px;
  margin: 10px auto;
  padding: 10px 20px;
  color: white;
  background: darkred;
  border: 1px solid darkred;
}
#fetchPostsButton:hover {
  color: darkred;
  background: white;
}
